<div class="center jumbotron">
  <h1>Welcome to Firm</h1>

  <h2>
    This is the home page for
    <a href="http://www.firm.com/">India's own social site</a>
    Firm.
  </h2>

  <%= link_to "Join us now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>